/* .app {
  text-align: center;
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(58, 42, 245) 45%, rgb(60, 255, 0) 100%)  ;
} */

* {
  margin: 0;
  
}

.login, .register {
  background-color: rgba(244, 113, 52, 0.2);
  border: dotted rgba(255, 255, 255, 0.5);
  width: '50%';
  height:auto;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  /* border: 1px solid white; */

}

label {
  text-align: left;
  padding: 0.25rem 0;
}

button {
  border: double;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.link-btn {
  background: none;
  color:white;
  text-decoration: underline;
  border:none 
}

h2 {
  color:antiquewhite;
  text-align: center;

}

video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

.logbtn {
  position: center;
  border: solid
}

.window {
  border: solid;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border-radius: 5px;
  margin: 10px;
  width:700px;
  height:450px;
  position: center;
  background-color: rgba(231, 131, 131,0.5);
}

.display {
  background: linear-gradient(red ,orange ,yellow);
  min-height: 100vh;
}

.reviewmsg {
  width:700px;
  justify-content: center;
}